body {
	background-color: #718EA4;
	font-family: 'Monserrat', sans-serif;
	font-size: 2em;
}

h1, h2, h3, a {
	font-family: 'Arvo', serif;
}

h1 {
	font-size: 1em;
}

h2 {
	font-size: 0.75em;
}

header, footer {
	position: fixed;
	display: flex;
	background-color: #AA5939;
	color: #FFC2AA;
	width: 100%;
	left: 0;
}

header {
	justify-content: space-between;
	align-items: center;
	top: 0;
	padding: 10px;
}

nav {
	display: flex;
}

header nav, footer nav {
	width: 50%;
	justify-content: space-around;
}

header a, footer a {
	background-color: #551800;
	padding: 10px 20px;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-size: 0.5em;
}

footer {
	bottom: 0;
	justify-content: flex-end;
	padding: 10px;
}

main {
	margin-top: 200px;
	margin-bottom: 110px;
	text-align: center;
}

section {
	background-color: #29506D;
	width: 90%;
	margin: auto;
	margin-top: 250px;
	margin-bottom: 50px;
	padding: 0;
}

article {
	background-color: #042037;
	color: #496D89;
	flex: 2;
	height: 450px;
	overflow: auto;
}

article nav {
	width: 100%;
	justify-content: space-between;
}

article nav a {
	padding-top: 20px;
	padding-bottom: 10px;
	flex: 1;
}

article, aside {
	padding: 20px 40px;
}

aside {
	background-color: #AA8E39;
	flex: 1;
}

ul {
	list-style-type: none;
	padding: 0;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.subheading {
	text-align: center;
	padding-top: 20px;
}

.content {
	display: flex;
	flex-direction: space-between;
	align-items: stretch;
}

#portfolio article {
	padding-top: 0;
}

#portfolio a {
	font-size: 0.75em;
}
